/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@font-face {
  font-family: "Origo Pro";
  src: url(./fonts/OrigoPro-Regular.woff) format("truetype");
  letter-spacing: 2px;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
  font-family: "Origo Pro", sans-serif;
}

:root {
  --dark-green: #0d4235;
  --bg-color: rgb(255 251 235);
  --dark-mode: rgb(15 23 42);
  --text-color: white;
  --submenu-bg: #bff0f0;
  --list-bottom-border: #0d423523;
}

body {
  margin: 0;
  line-height: inherit;
  color: var(--dark-green);
  background-color: var(--bg-color);
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

.dark-mode {
  background-color: var(--dark-mode);
  color: var(--text-color);
}
.dark-mode a {
  color: var(--text-color);
}
.dark-mode .nav_large {
  background-color: rgba(15, 23, 42, 0.5);
}

.nav-drop-shadow {
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}

.hidden-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d4235;
}

img {
  width: 100%;
}

main,
section {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 1280px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 200;
}

/*---------------------------------------------------- 
Header Section
----------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav_large {
  background-color: rgba(255, 251, 235, 0.5);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  gap: 2rem;
  padding: 1rem 0;
}
.nav_large .logo img {
  width: 1.2rem;
}
.nav_large nav {
  gap: 1.5rem;
}
.nav_large nav > ul {
  gap: 2rem;
}
.nav_large nav > ul li {
  position: relative;
}
.nav_large nav > ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.nav_large nav > ul .has-sub-menu {
  transition: opacity 0.3s ease-in-out;
  display: flex;
  padding: 0.8rem 0;
  cursor: pointer;
}
.nav_large nav > ul a {
  transition: 0.3s ease-in-out;
}
.nav_large nav > ul .has-sub-menu:hover,
.nav_large nav > ul a:hover {
  opacity: 0.8;
}
.nav_large nav .submenu.grid {
  transition: 0.3s ease-in-out;
  background-color: var(--submenu-bg);
  border-radius: 2px;
  padding: 1rem 0;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}
.nav_large nav .submenu.grid a {
  display: flex;
  width: 15rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.3s ease-in-out;
  color: var(--dark-green);
}
.nav_large nav .submenu.grid a:hover {
  opacity: 0.8;
}

.nav_small {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.nav_small .logo img {
  width: 1.1rem;
}
.nav_small .fix {
  position: absolute;
  top: 100%;
  width: 50vw;
}
.nav_small nav {
  right: 100%;
  opacity: 0;
  position: absolute;
  background-color: var(--submenu-bg);
  padding: 1rem;
  height: 100vh;
  justify-items: start;
  align-items: start;
  transition: 0.6s ease-in-out;
  width: inherit;
  overflow-y: auto;
}
.nav_small nav .has-sub-menu,
.nav_small nav a {
  color: var(--dark-green);
}
.nav_small nav ul {
  gap: 0.5rem;
  width: inherit;
}
.nav_small nav ul li {
  cursor: pointer;
}
.nav_small nav .has-sub-menu {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--list-bottom-border);
}
.nav_small nav .submenu {
  margin-left: 0.5rem;
  max-height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.nav_small nav .submenu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--list-bottom-border);
}
.nav_small nav .menu-arrow {
  border: 2px solid var(--list-bottom-border);
  height: 1.5rem;
  width: 1.5rem;
}
.nav_small nav .menu-arrow svg {
  transition: 0.3s linear;
}

.nav-links-large {
  display: none;
}

.hamburger {
  cursor: pointer;
}
.hamburger svg {
  width: 2rem;
  height: 2rem;
}

.mode-toggle {
  border-radius: 5px;
  padding: 0.3rem;
  height: 1.7rem;
  width: 1.7rem;
  border: 1px solid grey;
  cursor: pointer;
  position: relative;
}
.mode-toggle .sun,
.mode-toggle .moon {
  position: absolute;
}
.mode-toggle .sun {
  color: rgb(252, 211, 77);
  transition: 0.3s ease-in-out;
}
.mode-toggle .moon {
  color: rgb(214, 211, 209);
  transition: 0.3s ease-in-out;
}
.mode-toggle .hide {
  opacity: 0;
}

.rotate-svg {
  transform: rotate(180deg);
}

.toggle-height {
  max-height: 450px !important;
}

.toggle-mobile-menu {
  right: 0 !important;
  opacity: 1 !important;
}

/*---------------------------------------------------- 
Main Section
----------------------------------------------------*/
main {
  margin-top: 4rem;
}
main .wrapper {
  display: flex;
  flex-flow: column-reverse;
  gap: 3.5rem;
}
main h1 {
  font-size: 1.5rem;
  letter-spacing: 0em;
  font-weight: 600;
  text-align: center;
}
main img {
  max-width: 20rem;
}

/*---------------------------------------------------- 
Welcome Section
----------------------------------------------------*/
.welcome .wrapper.grid {
  gap: 2rem;
}
.welcome h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.welcome h3 {
  font-size: 2rem;
  font-weight: 600;
}
.welcome .paras.grid {
  gap: 2rem;
}

@media (min-width: 768px) {
  .nav-links-large {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  main,
  section {
    padding: 4rem 0;
  }
  main .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  main h1 {
    font-size: 4rem;
    text-align: start;
  }
  main img {
    max-width: 25rem;
  }
}/*# sourceMappingURL=style.css.map */